<% if (message.length>0) {%> 
    <div class="alert alert-danger alert-wth-icon alert-dismissible fade show" role="alert" >
      <span class="alert-icon-wrap"><i class="zmdi zmdi-help"></i></span> <%= message %> 
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
          </button>
  </div>
  <% } %> 

  <% if (success.length > 0) {%> 
    <div class="alert alert-success alert-wth-icon alert-dismissible fade show" role="alert" >
      <span class="alert-icon-wrap"><i class="zmdi zmdi-help"></i></span> <%=success %> 
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
          </button>
  </div>
  <% } %>